.Basket {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    font-family: 'Norse', 'sans-serif';
}

.Basket button,.backToMallHalla {
    transition: all linear .2s;
}

.Basket button:hover,.backToMallHalla:hover{
    scale: 1.2;
}

.Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.ProductMask {
    mask-image: url(../../assets/shop/mask2.png);
    width: 100%;
    max-width: 400px;
    height: auto;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.ProductPic {
    width: 100%;
    height: auto;
}

.ProductDesc {
    margin: 15px;
    text-align: center;
}

.ProductName {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.ProductPrice {
    font-size: 1.2rem;
    color: var(--light-grey);
    text-align: center;
}

.BasketItems {
    margin: 20px;
}

.BasketItems h1,
.BasketItems p,
.BasketItems h2 {
    margin: 10px;
}

.boughtItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #82828219;
    margin: 10px;
}

.boughtItemDesc {
    width: 100%;
    text-align: center;
}
.boughtItemDesc p{
    color: var(--light-grey);
}

.boughtItem img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.boughtItem button,
.Product button,
.BasketItems button {
    margin: 16px;
    height: 50px;
    width: 100px;
    background-color: #82828219;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'Norse';

}
.backToMallHalla{
    background-color: #82828219;
    display: flex;
    height: 50px;
    width: 100px;
    clip-path: polygon(100% 0%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;

}





.boughtItem button:focus,
.Product button:focus,
.BasketItems button:focus,
.backToMallHalla:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    .Basket {
        padding: 20px;
    }

    .Product {
        margin-left: 10px;
    }

    .ProductDesc {
        margin: 10px;
    }

    .BasketItems {
        margin: 10px;
    }

    .boughtItem{
        flex-direction: column;
    }
}

.basketNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

