.witchPage {
  background-color: var(--dark-grey);
  overflow-x: hidden;
}

.witchDescription,
.sponsor {
  font-family: "MedievalSharp";
  text-align: center;
}

.sponsor {
  line-height: 2svh;
  font-size: 0.7em;
}

.formAndWitch {
  display: flex;
}

@media screen and (max-width: 768px) {
  .witchPage {
    overflow-x: hidden;
  }

  #witch-header {
    font-size: 1.5rem;
    text-align: center;
  }
  .splineCanva {
    display: none;
  }
  .formAndWitch {
    display: flex;
    flex-direction: column;
  }

  .witchForm {
    width: 100vw !important;
  }
}
