@font-face {
  font-family: "Love";
  src: url(../../assets/font/LoveYaLikeASister-Regular.ttf);
}

.Header {
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop-header {
  background: url("à mettre");
  font-family: à mettre;
  background-size: cover;
}
#fire-header {
  background: url("/src/assets/fire/header-fire.png");
  font-family: "Love", "sans-serif";
  background-size: cover;
}
#witch-header {
  background: url("à mettre");
  font-family: à mettre;
  background-size: cover;
}
