@font-face {
  font-family: "Norse";
  src: url(../../assets/shop/Norse.otf);
}
.Header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop-header {
  background: url("../../assets/shop/Mallhalla.jpeg");
  background-position: 50% 30%;
  filter: grayscale(100%);
  font-family: "Norse", "sans-serif";
  background-size: cover;
  color: white;
  font-size: 5rem;
}

#shop-header h1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop-header h1::before {
  filter: brightness(50%);
}

#fire-header {
  background: url("à mettre");
  font-family: à mettre;
  background-size: cover;
}
#witch-header {
  background: url("../../assets/witch/sorciere.png");
  font-family: "MedievalSharp";
  background-size: cover;
  background-attachment: fixed;
  font-size: 3.5rem;
}
