nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);

    #logo {
        margin-left: 1rem;
        align-self: center;
    }

    #HamburgerIcon {
        margin: 10px 1rem;
        align-self: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
        opacity: 0;
    }

    ul {
        display: flex;
        list-style: none;

        #menu,
        #notice,
        #about {
            margin: 5px 1rem;
            align-self: end;
            position: relative;
            z-index: 2;
            cursor: pointer;
            background: #e4e4e400;

            &::before {
                content: "";
                display: block;
                height: 9px;
                width: 1px;
                background-color: var(--light-grey);
                position: absolute;
                z-index: 1;
                bottom: -9px;
                left: -1rem;
                filter: blur(0rem);
                transition: bottom 0.25s,
                    filter 0.25s 0.25s,
                    left 0.25s 0.25s,
                    height 0.25s,
                    background 0.25s 0.25s,
                    width 0.5s 0.25s;
            }
        }

        #menu:hover,
        #notice:hover,
        #about:hover {
            &::before {
                bottom: -1px;
                left: -5px;
                height: 25px;
                width: 120%;
                z-index: -1;
                background: var(--gradientBlurHome);
                box-shadow: var(--gradientShadowHome);
                filter: blur(0.3rem);
            }
        }

        #about {
            &::after {
                content: "";
                display: block;
                height: 9px;
                width: 1px;
                background-color: var(--light-grey);
                position: absolute;
                bottom: -9px;
                right: -1rem;
            }
        }

    }
}

#burgerContainer {
    position: absolute;
    opacity: 0;
    top: 100px;
    right: -220px;

    ul {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:1024px) {

    nav {

        #HamburgerIcon {
            opacity: 1;
        }

        ul {
            display: none;
        }

    }

    #burgerContainer.on {
        opacity: 1;
        right: 20px;
    }

    #burgerContainer {
        background: var(--gradientBlurHome);
        box-shadow: var(--gradientShadowHome);
        border-radius: 10px;
        transition: 1.2s;
        z-index: 0;

        ul {
            list-style: none;

            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                align-self: center;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}