.splineCanva {
  /* width: 610px !important;
  height: 777px !important; */
  width: 50vw !important;
  height: 77.7vh !important;
  position: fixed !important;
  bottom: -15% !important;
  right: 0;
}
